%script
  =raw("CARD = #{@flashcard.to_json};")
  =raw("CARD.keywords = #{@flashcard.keywords.to_json};")
  
.pad
  -if @flashcard.errors.any?
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Errors
      .panel-body
        -@flashcard.errors.full_messages.each do |msg|
          .text-danger
            = msg
-if !@macro.nil?
  %h3
    = "#{macro_title @macro}"
  = render partial: "flashcards_manager/macros/#{@macro.to_s}_form", flashcard: @flashcard, working_keywords: @working_keywords
