%h3 Change Password
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class:'narrow-form' }) do |f|
  .field
    =f.label :password, 'New Password'
    = f.password_field :password, autocomplete: "off",class:'form-control',required:true
  .field
    = f.label :password_confirmation,'Confirm New Password'
    = f.password_field :password_confirmation, autocomplete: "off",class:'form-control',required:true
  .field
    = f.label :current_password, 'Confirm Current Password'
    = f.password_field :current_password, autocomplete: "off",class:'form-control',required:true
  .action
    =f.submit "Update Password",class:'btn btn-default btn-lg'